body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: Arial;
    background: #EEEEEE;
}

* {
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    padding-bottom: 50px;
}

.body > * {
    width: 100%;
}

.header {
    background: #222831;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 90px;
    color: #EEEEEE;
}

.menu_link {
    color: #EEEEEE;
    text-decoration: none;
    transition: .15s linear;
    display: inline-flex;
    justify-content: center;
    position: relative;
    margin-right: 15px;
}

.menu_link:last-child {
    margin-right: 0;
}

.menu_link::after {
    display: block;
    content: "";
    width: 0%;
    background: #EEEEEE;
    height: 2px;
    bottom: -3px;
    position: absolute;
    transition: .15s linear;
}

.menu_link:hover::after {
    width: 100%;
}

.content {
    width: 70%;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 35px;
    border: 1px solid #222831;
    background: #e3e3e3;
    margin: 50px 0px;
}

.content_header {
    display: flex;
    justify-content: center;
    color: #EEEEEE;
    font-weight: bold;
    background: #222831;
}

.content_text {
    padding: 35px 35px;
}